.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2974a9;
  font-size: 13px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #78b1dc;
}
.container h3{
margin-right: 30px;
font-family:   sans-serif;
font-style: bold;
font-weight: 600;
letter-spacing: 0.1rem;

text-shadow:2px 2px #15d3f4;
color:rgb(17, 15, 15);
}
.link a:hover{
color: red;
text-decoration: none;
}
.link a{
  text-decoration:none ;
}
/* .image{
  border: 2px solid blue;
  margin: 10px 1oo0px 10px 10px;
  text-align: center;
  display: flex;
  
} */
.card{
  margin: 10px 300px 10px 300px;
  border: 2px solid blue;
}
h3{
  background-color: pink;
  border-radius: 20px;
}
.blink{
  
    animation: blinker 1s linear infinite;
  }
  
   @keyframes blinker {
    50% {
      opacity: 0;
    }
  } 
  .image1{
    border: 2px solid blue;
   
    text-align: center;
  
  }
  .image2{
    border: 2px solid blue;
    
    text-align: center;
  
  }
  .image3{
    border: 2px solid blue;
    
    text-align: center;
  
  }
  h4,h6{
    color: red;
  }
  .menu1{
    float: left;
  }


